h2::before {
  margin: 0 2px 10px 5px;
  content: "";
  width: 60px;
  height: 2px;
  background: #fff;
  display: inline-block;
}
h2::after {
  margin: 0 2px 10px 5px;
  content: "";
  width: 60px;
  height: 2px;
  background: #fff;
  display: inline-block;
}
.dark {
  color: #fff;
}
.light {
  color: #000000;
}
h2 {
  font-size: "2rem";
}

@media screen and (max-width: 820px) {
  h2 {
    font-size: 1.5rem;
  }
  h2::before {
    width: 1rem;
  }

  h2::after {
    width: 1rem;
  }
}
